.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden; /* Evita que las imágenes sobresalgan del contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra para resaltar las tarjetas */
}

.card-image-mascota-container {
    width: 100%; /* Ajusta el ancho de la imagen al contenedor */
    height: 200px; /* Limita la altura de la imagen */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el contenedor */
}

.card-image img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    border-radius: 8px;
    object-fit: cover; /* Escala la imagen para que se ajuste al contenedor sin distorsión */
}

.card-details {
    padding: 10px;
}

.card-details span {
    display: block; /* Muestra cada detalle de la mascota en una línea diferente */
    margin-bottom: 8px;
}

.card-icons-options {
    display: flex;
    justify-content: center; /* Centra los iconos de opciones horizontalmente */
    padding: 10px;
}

.cita{
    border-bottom: 2px solid black;
}
