.container-info-cam{
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
}

.title-info-cam{
    text-align: center;
    font-size: 10vh;
    margin-bottom: 10vh;
}

.subtitle-info-cam{
    text-align: center;
    font-size: 7vh;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.paragraph{
    font-size: 5vh;
    text-align: left;
}