
.background1{
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=dcc272&c2=dd53c5&gt=l&gd=dcr
*/
background: #DCC272;
background: linear-gradient(270deg, #DCC272, #DD53C5);
}

.card-body-datails{
        width: 100%;
        display: flex;
        flex-direction: column; 
}

.end-card-cita{
    border-bottom: 2px solid black;
}